<link rel="stylesheet" href="../Pages/Navbar.razor.css" />

<div class="container">
    <div class="button-row">
        <a href="/"> <img src="/img/homeButton.png" alt="pokedex logo" class="button"/> </a>
        <a href="/"> <img src="/img/pokedex.png" alt="pokedex logo" class="logo"/> </a>
        <a href="https://github.com/ThiagoArcoverde/Pokedex" target="blank"> <img src="/img/github.png" alt="pokedex logo" class="button" /> </a>
    </div>
</div>

@code {

}
